<template name="ToolsEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ToolsEditEditForm}}
	</div>
</template>

<template name="ToolsEditEditForm">
	<div id="tools-edit-edit-form" class="">
		<h2 id="component-title">
			Edit tool
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-title">
				<label for="title">
					Title
				</label>
				<div class="input-div">
					<input type="text" name="title" value="{{tool_details.title}}" class="form-control " autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-description">
				<label for="description">
					Description
				</label>
				<div class="input-div">
					<input type="text" name="description" value="{{tool_details.description}}" class="form-control " required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-link">
				<label for="link">
					Link to tool
				</label>
				<div class="input-div">
					<input type="text" name="link" value="{{tool_details.link}}" class="form-control " required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-video">
				<label for="video">
					Video link
				</label>
				<div class="input-div">
					<input type="text" name="video" value="{{tool_details.video}}" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-possibilities">
				<label for="possibilities">
					Possibilities
				</label>
				<div class="input-div">
					<input type="text" name="possibilities" value="{{tool_details.possibilities}}" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-category">
				<label for="category">
					Category
				</label>
				<div class="input-div">
					<input type="text" name="category" value="{{tool_details.category}}" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-contact_email">
				<label for="contact_email">
					Contact email
				</label>
				<div class="input-div">
					<input type="text" name="contact_email" value="{{tool_details.contact_email}}" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-topic">
				<label for="topic">
					Topic
				</label>
				<div class="input-div">
					<input type="text" name="topic" value="{{tool_details.topic}}" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-company">
				<label for="company">
					Company
				</label>
				<div class="input-div">
					<input type="text" name="company" value="{{tool_details.company}}" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

